.main{
    margin: 0 auto;
    display: block;
    width: 1000px;
    background: white;
}

.text{
    width: 500px;
    float: left;
}

.text h1{
    color:#556dff;
    font-size: 50px;
    margin-top: 130px;
    margin-left: 50px;
}

.text p{
    margin-left: 50px;
    font-size: 20px;
}

.box{
    width: 350px;
    background: white;
    float: right;
    text-align: center;
    box-shadow: 2px 2px 10px 10px #b2bbd6;
    margin-right:150px;
    margin-top: 100px;
    padding-top: 20px;
}

.text2{
    text-align: centre;
    float: left;
    margin-top: 30px;
    margin-left: 500px;
    
}

button{
    width: 200px;
    background: #2b2eff;
    color: white;
    border: none;
}

p a{
    text-decoration: none;
}

.button{
    background: #00d003;
}

.box hr{
    width: 250px;
}

input{
    width: 200px;
    border-radius: 5px;
}